
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Allow public, read-only access to announcements
    match /announcements/{announcementId} {
      allow read: if true;
      allow write: if request.auth != null; // Only authenticated users can write
    }

    // Allow anyone to create a submission.
    // Allow admins to read/update/delete any submission.
    // Allow the public to read ONLY winning submissions.
    match /submissions/{submissionId} {
      allow create: if true;
      allow read: if request.auth != null || resource.data.isWinner == true;
      allow update, delete: if request.auth != null;
    }
    
    // Secure competition meta data for admin-only access
    match /competition_meta/{competitionId} {
        allow read, write: if request.auth != null;
    }

    // Disallow all other access by default.
    // This is important for security.
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
